<table id="table-1">
  <thead>
    <tr>
      <th>Учасник</th>
      <th></th>
      <% @segments.each do |segment| %>
        <th><%=link_to segment.name, "https://www.strava.com/segments/#{segment.link}", target: "_blank" %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td>
          <p class="user-avatar"><%=image_tag "avatars/#{user.bib}.jpg", height: '96', width: '96'%></p>
          <p class="user-name"><%=link_to user.full_name, "#{user.link}", target: "_blank" %></p>
          <p>
            <span><b>bib: </b></span>
            <span><%= user.bib %></span>
          </p>
        </td>
        <td>
          <p>
            <span>Рейтинг: </span>
            <span><b><%= user.results.pluck(:points).sum.round(2) %></b></span>
          </p>
          <p>
            <span>Різниця: </span>
            <span><b><%= (@lider - user.results.pluck(:points).sum).round(2) %></b></span>
          </p>
          <p>
            <span>Місце: </span>
            <span><b><%= index + 1 %></b></span>
          </p>
        </td>
        <% user.results.order(:segment_id).each do |result| %>
          <td>
            <div>
              <span><strong><%= result.points %></strong></span>
            </div>
            <div>
              <span><strong>Час: </strong></span>
              <span><%= seconds_to_hms(result.moving_time) %></span>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  var tableOffset = $("#table-1").offset().top;
  var $header = $("#table-1 > thead").clone();
  var $fixedHeader = $("#header-fixed").append($header);

  $(window).bind("scroll", function() {
    var offset = $(this).scrollTop();

    if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
        $fixedHeader.show();
    }
    else if (offset < tableOffset) {
        $fixedHeader.hide();
    }
  });
<% end %>
