<div class="segments-wrapper">
  <% @segments.each do |segment| %>
    <div class="segment-block">
      <div class="segment-val">
        <span>
          <%=link_to segment.name, "https://www.strava.com/segments/#{segment.link}", target: "_blank" %>
        </span>
        <span><%= segment.distance %> км.</span>
      </div>
      <div>
      </div>
      <div class="segment-gif">
        <%=image_tag "videos/#{segment.link}.gif"%>
      </div>
      <% unless mobile_device == "mobile" %>
        <div class="segment-val">
          <%=link_to "Переглянути маршрут для сегменту", "https://www.strava.com/routes/#{segment.rout}", target: "_blank" %>
        </div>
        <br />
        <div class="segment-val">
          <%=link_to "Експорт в GPS", "https://www.strava.com/routes/#{segment.rout}/export_gpx" %>
        </div>
        <br />
        <div class="segment-val">
          <%=link_to "Експорт в TCX", "https://www.strava.com/routes/#{segment.rout}/export_tcx" %>
        </div>
        <br />
      <% end %>
    </div>
  <% end %>
</div>
